.Rowspace {
    display: flex;
    justify-content: space-between;
    /* background-color: red; */
  }
  .Cardstyle {
    width: 10rem;
    height: 0.5rem;
    display:flex;
  }
  .ButtonStyle {
    width: 9rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 18px;
    background-color: rgb(122, 151, 216);
    font-size: 18px;
    border-radius: 10px;
  }
  .ButtonStyle:hover {
    background-color: rgb(27, 23, 231);
  }
  .view-all-button {
    width: 120px;
    float: right;
  }
  .button1 {
    padding-top: 3em;
  }
  .dropdownbar {
    float: right;
  }

  .adminname {
    margin-right: 20px;

  letter-spacing: 2px;

  color: white;
  }