.Rowspace {
    display: flex;
    justify-content: space-between;
    /* background-color: red; */
  }
  .Cardstyle {
    width: 10rem;
    height: 0.5rem;
    display:flex;
  }
  .ButtonStyle {
    width: 9rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 18px;
    background-color: rgb(122, 151, 216);
    font-size: 18px;
    border-radius: 10px;
  }
  .ButtonStyle:hover {
    background-color: rgb(27, 23, 231);
  }
  .view-all-button {
    width: 120px;
    float: right;
  }
  .button1 {
    padding-top: 3em;
    margin-top: 3em;
  }
  .dropdownbar {
    float: right;
  }

  .t-head {
    background-color:#007aff;
  }

  .Cardstyle {
    background-color: rgb(17, 0, 255);
  }

  .styling2 {
    margin-top: 2em;
    margin-bottom: 2em;
  }

  /* .stylecard3 {
    margin-bottom: 5em;
    
  } */
  /* .styling1 {
    display: flex;
    flex-direction: column;
  padding: 10px;
  overflow-wrap: break-word;
  } */